# --- Java / Maven ---
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar
tools/

# --- Angular / Node ---
node_modules/
dist/
.angular/
npm-debug.log*

# --- Entornos y secretos ---
.env
*.env
application-local.yml
application-local.properties

# --- IDEs ---
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# --- OS ---
.DS_Store
Thumbs.db

# --- Docker volúmenes locales ---
infra/db/mysql-data/
